*{
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    scrollbar-width: thin;
    scroll-behavior:smooth;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: white;
}

/*Barra de navegacion*/
.logoBar{
    height: 200px;
    width: 200px;
}
.navbar-nav{
    font-size: 1.2rem;    
}

.bar-navegation{
    font-weight: 200;
}

/*Main*/

.text-presentacion{
    height: 100px;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img-presentacion{
    height: 380px;
    width: 380px;
}
.text-presentacion h2{
    font-size: 1rem;
}
.galery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: 600px;
}
.galery img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.galery img:hover{
    cursor: default;
    width: 600px;
    opacity: 1;
    filter: contrast(120%);
}
.horario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}
.abierto,.cerrado{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}
.abierto{
    background-color: #AFC8AD;
}
.cerrado{
    background-color: #A6A9B6;
}

.horas{
    height: 200px;
}
.dias{
    height: 150px;
    width: 150px;
    border-radius: 15%;
    font-size: 20px;
    font-weight: bolder;
}
.dias, h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.jornada{
    font-size: 15px;
    font-weight: bold;
}
.informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #AFC8AD;
}
.informacion h3{
    font-size: 1.5rem;
}
.informacion p{
    font-size: 1rem;
}
.servicio, .nosotros{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicio, .nosotros, h1{
   display: flex;
   justify-content: center;
   font-size: 1.5rem;
}
#btn-more{
    display: none;
}
.iconsFlotante{
    position: fixed;
    bottom: 120px;
    right: 20px;
}
.contacto a{
    cursor: pointer;
    margin: 15px;
    border-radius: 50%;
    background-color: white;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    transition: all 500ms ease;
}

.contacto a:hover{
    background-color: #AFC8AD;
}
.btn-contacto{
    text-align: center;
    background-color: rgb(71, 71, 71);
    color: #009688;
    height: 40px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}
.btn-contacto:hover{
    background-color: #009688;
    color: black;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.localizacion{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.localizacion h4{
    font-size: 1.75rem;
}
.maps{
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

/*Footer*/
.footer-style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 18px;
    background-color: #AFC8AD;
}
.derechos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.autor{
    font-size: 12px;
}
  
/*MEDIAS QUERIES*/
@media screen and (max-width: 432px){
h1{
    font-size: 1.5rem;
}
h2, p{
    font-size: 1rem;
}
h3{
    font-size: 1.25rem;
}
.navbar{
    width: 600px;
    text-align: center;
}

main{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
  .horario{
    display: none;
  }
  .text-presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.img-presentacion{
    margin-top: 75px;
    height: 250px;
    width: 250px;
}
.informacion{
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.localizacion{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-style{
    background-color: #AFC8AD;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}
.iconsFlotante{
    position: fixed;
    bottom: 120px;
    right: 5px;
}
}

@media screen and (max-width: 770px){
    .navbar{
        text-align: center;
    }
    .horario{
        display: none;
    }
    h1{
        font-size: 1.5rem;
    }
    h2, p{
        font-size: 1rem;
    }
    h3{
        font-size: 1.25rem;
    }
    .navbar{
        text-align: center;
    }
    
    main{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
      .horario{
        display: none;
      }
      .text-presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .img-presentacion{
        margin-top: 75px;
        height: 250px;
        width: 250px;
    }
    .informacion{
        margin-top: 125px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .localizacion{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-style{
        background-color: #AFC8AD;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        text-align: center;
    }
    .iconsFlotante{
        position: fixed;
        bottom: 120px;
        right: 5px;
    }
}